body {
    color: white;
}
.page-layout {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: grid;
    background-color: black;
    grid-template-columns: 200px 1fr;
}
.left-grid {
    position: relative;
}

.right-grid {
    display: grid;
    grid-template-rows: 70px 1fr;
}

.navbar {
    background-color: aqua;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.header {
    background-color: blue;
}
.main-content {
    background-color: red;
}
.navbar-header {
    position: absolute;
    background-color: yellow;
    top: 0px;
    right: 0px;
    left: 0px;
height: 70px;
}